#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=V-Builder
Comment=Digimon Card Game deck builder
Exec=v-builder
Icon=v-builder
Terminal=false
Type=Application
Categories=Games;
